<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		</startup>
		<connectionStrings>
				<add name="ConString" connectionString="server=db4free.net:3306; database=parikshav1; userid=parikshaadminv1; password=admin123;"/>
		</connectionStrings>
</configuration>